/* src/components/Button.css */
.custom-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  font-family: 'Inter', sans-serif;
}

/* Primary = filled blue Surprise Me Again */
.custom-button.primary {
  background-color: #0052FF;
  color: white;
  border: 0px solid #ffffff;
}

/* Adding moving gradient effect for the primary "Surprise me" button */
.custom-button.primary.surprise-me {
  background: linear-gradient(-45deg,  #0038c7, #0e5bf7, #0038c7, #0046e0, #0d55e4, #0038c7);
  background-size: 400% 400%;
  animation: gradient-animation 4s ease infinite;
  color: white;
  border: 0px solid #ffffff;
}

.custom-button.primary.surprise-me:hover {
  background-size: 200% 200%;
  animation: gradient-animation 2s ease infinite;
  filter: brightness(1.1);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.custom-button.primary:hover {
  background-color: #002fa1;
}

/* Secondary = filled white CLOSE */
.custom-button.secondary {
  background-color: white;
  color: #0052ff;
  border: 2px solid #0052FF;
}

.custom-button.secondary:hover {
  color: #0038c7;
  border: 2px solid #0038c7;
}

/* Outline white = transparent + white border and white text */
.custom-button.outline-white {
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.custom-button.outline-white:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* Zoom for all buttons */
.custom-button:hover {
  transform: scale(1.02);
}

.custom-button:active {
  transform: scale(0.99);
  transition: transform 0.1s ease;
}




/* Close Circle Button for the form modal*/
.custom-button.close-circle {
  background-color: #0052FF;
  color: white;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 1.2rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.custom-button.close-circle:hover {
  background-color: #0038c7;
}